{% extends 'base.html.twig' %}
{% block title %}SnowTricks{% endblock %}
{% block visualCentral %}
<header class="masthead text-white text-center home-background">
    <div class="container">
        <div class="slogan">
            <H2 class="font-weight-light">Jimmy Sweat Experience</h2>
            <h1>Share yours tricks</h1>
            <H2 class="font-weight-light">Push your limits and share incredible
                experiences friends</h2>
        </div>
        <div>
            <a class="d-block text-center text-white rounded positionArrow" href="#tricks">
                <i class=" bi bi-arrow-down-circle-fill fa-3x chevron-down"></i>
                <br>
                <br>
                <br>
            </a>
        </div>
    </div>
</header>
{% endblock %}
{% block main%}
<div id="tricks"><br><br><br></div>
<section class="page-section tricks">
    <div class="container">
        <div class="row justify-content-center items">
            {% for trick in tricks %}
            {% if trick.active == 1 %}
            <div class="col-md-2 col-lg-2 mb-5 item">
                <div class="mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="card {{trick.id}}">
                            <img class="img-fluid"
                                src="{{ app.request.getSchemeAndHttpHost() }}/assets/img/tricks/{{ trick.picture }}"
                                alt="{{ trick.title|striptags}}">
                            <div class="card-body mainid{{trick.id}}">
                                <a href="tricks/details/{{ trick.slug|slug }}" class="link-primary">{{
                                    trick.title|striptags}}</a>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <span>
                                    <a class="portfolio-link float-right ml-1 btndelete" data-bs-toggle="modal"
                                        href="#deleteThisTrick" id="{{trick.id}}">
                                        <i class="bi bi-trash-fill iconTricks"></i>
                                    </a>
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}/tricks/details/modifications/{{ trick.slug|slug }}"
                                        class="float-right ml-1">
                                        <i class="bi bi-pencil-fill iconTricks">
                                            <small><i class="bi bi-arrow-right-short"></i></small>
                                        </i>
                                    </a>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            <div class="modal fade" id="deleteThisTrick">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete this trick ?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are your sur to want to delete this trick ?</p>
                        </div>
                        <div class="modal-footer">

                            {% for trick in tricks %}
                            <span class="displayNone tricks-{{ trick.id }}">
                                <button type="submit" class="btn btn-danger">
                                    <a data-delete
                                        href="{{ app.request.getSchemeAndHttpHost() }}/tricks/delete-tricks/{{ trick.id }}"
                                        data-token="{{ csrf_token('delete'~trick.id)}}">Yes
                                    </a>
                                </button>
                            </span>
                            {% endfor %}

                            <span>
                                <button type="button" class="btn btNo btn-info close-modal"
                                    data-bs-dismiss="modal">No</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <a class="arrow-up" href="#tricks">
            <i class=" bi bi-arrow-up-circle-fill fa-3x"></i>
        </a>

        <div class="row justify-content-center m-3 buttonToogle" style="display: none;">
            <a href="javascript:;" class="showMore">
                <button class="btn btn-outline-primary showMore">Load More</button></a>
        </div>
    </div>
</section>

{% endblock %}

{% block javaScripts %}
<script src="{{ app.request.getSchemeAndHttpHost() }}/js/loadMore.js"></script>
{% endblock %}