{% extends 'base.html.twig' %}

{# {% set route = '' %}
{% set routeTitre = '' %}
{% set route = app.request.attributes.get('_route') %}
{% if route == 'tricks_details' %}
{% set routeTitre = 'Trick details' %}
{% endif %} #}

{# titre #}
{% block title %}
Snowtricks - Trick details - {{ trick.title }}
{% endblock %}

{% block main %}
<br><br><br>
<div class="container text-center">
    <br>
    <br>
    <br>

    <span class="badge bg-primary">Snowtricks - Trick details </span>

    <div class="row justify-content-center" id="#tricks">
        <div class="col-lg-12">
            <div class="modifications">
                <div class="rounded shadow p-3 mb-5 bg-white">

                    <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid " width="100%" height="150"
                        src="{{ app.request.getSchemeAndHttpHost()}}/assets/img/tricks/{{ trick.picture }}"
                        alt="{{ trick.title }}">

                    <div class="caption post-content">
                        <h1>{{ trick.title }}
                        </h1>
                    </div>
                </div>

                {####### additionnals pictures #########}
                <div class="row justify-content-center">
                    {% for additionnalPicture in additionnalPictures %}
                    <!-- additionnalPictures Items-->
                    <div class="col-md-2 col-lg-2 mb-5 item">
                        <div class="mx-auto">
                            <div class="d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="card {{additionnalPicture.id}}">
                                    <img class="img-fluid"
                                        src="{{ app.request.getSchemeAndHttpHost()}}/assets/img/tricks/{{ additionnalPicture.picture }}"
                                        alt="additional picture of {{ trick.title|striptags}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <br>

                    {####### additionnal video #########}
                    <div class="col-sm-2">
                        <div class="mx-auto">
                            <div class="d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="card image-popup-vertical-fit">
                                    <img class="img-fluid zoom"
                                        src="{{ app.request.getSchemeAndHttpHost()}}/assets/img/tricks/main-video.png"
                                        alt="Additionnal video {{ trick.title|striptags}} 1" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {####### information #########}
                <div class="card-body">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            created by : {{ Author.username }}
                        </li class="list-inline-item"> |
                        <li class="list-inline-item">
                            created at : {{ trick.createdAt|date('d-m-Y') }} {#(<small>updated : </small>) #}
                        </li> |

                        {% if trick.modifiedAt != null %}
                        <li class="list-inline-item">
                            Updated at : {{ trick.modifiedAt|date('d-m-Y') }}
                        </li> |
                        {% endif %}

                        <li class="list-inline-item">
                            Groupe : {{ trick.category }}
                        </li>
                    </ul>
                </div>

                {######### description ##########}
                <div class="text-left content text-white">
                    {{ trick.content }}
                </div>

            </div>
        </div>
    </div>

    {# comments #}
    <hr>
    <br>
    {# <div class="form-group inLine">
        <textarea class="form-control width300" id="" rows="2"></textarea>
        <button class="btn btn-info" type="submit">Leave a comment</button>
    </div> #}

    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <textarea class="form-control width450" id="" rows="2"></textarea>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </div>
    </form>

    <hr>
    <div class="media">
        <img class="mr-3 rounded-circle" alt=""
            src=" {{ app.request.getSchemeAndHttpHost()}}/assets/img/avatars/avatar-252×230.png" /></a>
        <div class="media-body">
            <div class="row text-left content text-white">
                <div class="col-8 d-flex">
                    <h5>Maria Smantha</h5>
                    <span>- 2 hours ago</span>
                </div>
                Verni domesticus quam animi filius suspensus ut quae potuit magistro
                discerpti turbela
                translationem timore egerat futurorum quondam imbres emendabat referente
                quam rettulimus
                crebriores angorem diu diu timore referente crebriores Constantinopolim
                suspensus emendabat
                timore supra Herculanus auctique diu diu egerat emendabat
            </div>
        </div>
    </div>

    <div class="media">
        <img class="mr-3 rounded-circle" alt=""
            src=" {{ app.request.getSchemeAndHttpHost()}}/assets/img/avatars/avatar-252×230.png" /></a>
        <div class="media-body">
            <div class="row text-left content text-white">
                <div class="col-8 d-flex">
                    <h5>Maria Smantha</h5>
                    <span>- 2 hours ago</span>
                </div>
                Verni domesticus quam animi filius suspensus ut quae potuit magistro
                discerpti turbela
                translationem timore egerat futurorum quondam imbres emendabat referente
                quam rettulimus
                crebriores angorem diu diu timore referente crebriores Constantinopolim
                suspensus emendabat
                timore supra Herculanus auctique diu diu egerat emendabat
            </div>
        </div>
    </div>

    {# <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="avatar">
                    <div class="avatar-aspect-ratio">
                        <img src=" {{ app.request.getSchemeAndHttpHost()}}/assets/img/avatars/avatar-252×230.png"
                            height="100px" />
                    </div>
                    <div class="comment-text col-lg-10">
                        <p>Verni domesticus quam animi filius suspensus ut quae potuit magistro
                            discerpti turbela
                            translationem timore egerat futurorum quondam imbres emendabat referente
                            quam rettulimus
                            crebriores angorem diu diu timore referente crebriores Constantinopolim
                            suspensus emendabat
                            timore supra Herculanus auctique diu diu egerat emendabat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> #}

    <!-- tricks Zoom -->
    <div id="overlay" class="zoom"></div>

    <br>
    <br>
    <br>
    <br>
    {% endblock %}